* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

/* CONTAINER */

.container-small {
    max-width: 1040px;
    margin-inline: auto;
    padding-inline: 20px;

}

.container-big {
    max-width: 1360px;
    margin-inline: auto;
    padding: 120px;
}

.container-big2 {
    margin-top: 20px;
    max-width: 1200;
    margin-inline: auto;
    padding-top: 5rem;
    padding-bottom: 10rem;
    display: flex;
    list-style: none;
}

.container-big3 {
    max-width: 1200;
    margin: 0;
    display: flex;
}

header {
    background-color: rgb(180, 208, 231);
}

/* BUTTON */

.btn {
    display: inline-block;
    padding: .5em .7em;
    white-space: nowrap;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.btn-primary {
    background-color: rgb(0, 97, 255);
    color: white;
    }


/* NAV */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding-inline-end: 1rem;
    background-color: white;
    padding-inline: 1rem;
}

nav ul {
    list-style: none;
    text-decoration: none;
}

nav .navbar {
    display: flex;
    height: 100%;
}

nav .navbar > li {
    display: flex;
}

nav .spaced {
    flex-grow: 1;
}

nav .navbar a {
    display: flex;
    align-items: center;
    padding-inline: 1em;
    text-decoration: none;
    color: grey;
}

nav .logo img {
    height: 35%;
}

nav.button {
    align-items:  center;
}

/* HEADER */

header h1 {
    font-size: 6rem;
}

header .contents {
    display: flex;
    padding-top: 44px;
}

header .jumbo img {
    display: flex;
    min-width: 0%;
}

header .jumbo .text {
    flex: 0 0 30%;
}

header .jumbo img {
    flex: 0 0 70%;
    min-width: 0;
    margin-bottom: -190px;
}

.text .btn-primary {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.text i {
    padding-top: 2rem;
}

/* MAIN */

.business {
    padding: 160px 0px 75px;
}
    
    
.business .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.business .card {
    border: 1px solid lightgrey;
    flex: 0 0 calc((100% - 2 * 50px) / 3);
    padding-top: 20px;
}

.business .card-full {
    border: 1px solid lightgrey;
    flex: 0 0 100%;
}

.business .cards .heading {
    border-bottom: 1px solid lightgrey;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.business .cards .heading,
.business .cards .contents {
    padding-inline: 40px;
}

.business .cards .contents {
    padding-top: 40px;
    padding-bottom: 40px;
    list-style-type: none;
}

.business .card .btn {
    display: block;
}

.business .checks li::before {
    list-style: none;
}
.business h2 {
    padding-bottom: 20px;
}

.business h3 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.business h4 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.business .card li {
    list-style: none;
    padding-top: 20px;
}

.business .card-full .contents {
    display: flex;
}

.business .card-full .text {
    flex: 0 0 70%;
    padding-inline-end: 2rem;
}

.business .card-full .action {
    flex: 0 0 30%;
}

.container-small .billing {
    display: flex;
    padding: 1rem;
}

/* PARTNERS */

.partners .container-small {
    display: flex;
    padding-top: 20px;
    gap: 2rem;
}

.partners img {
    min-width: 0;
    flex: 0 0 60%;
}

.partners .text {
    flex: 0 0 calc(40% - 2rem);
    padding-top: 50px;
}

/* FEATURES */

.features .container-small {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.features h2 {
    flex: 0 0 100%;
    padding-top: 50px;
}

.features .card {
    flex: 0 0 calc((100% - 2 * 50px) / 3);
    padding-top: 20px;
}

.features img {
    width: 100%;
}

/* TEAM */


.team h2 {
    padding-bottom: 50px;
}

.container-team {
    max-width: 1360px;
    margin-inline: auto;
    padding: 120px;
}

/* MULTI-LOGO */

.square {
    flex: 0 0 calc(100% / 3);
    background-color: aquamarine;
    border: 2px solid black;
}

.square .square1 {
    display: flex;
    flex: 0 0 calc(100% / 4);
}


/* TRIAL */

.trial {
    background-color: rgb(180, 208, 231);
}

.trial .container-small h2 {
    color: rgb(47%, 28%, 39%);
}

.trial .container-small {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

.trial .container-small .btn {
    margin-inline: 50px;
    border-radius: 0%;
}

/* REQUEST */

.request .container-small {
    padding-bottom: 50px;
    padding-top: 80px;
}

.request .container-small .info {
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
    padding-top: 30px;
}

.reuest .container-small h2 {
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
}

/* FOOTER */

footer {
    margin-inline: auto;
    height: auto;
    background-color: black;
    display: flex;
}

footer h2 {
    color: white;
}

footer li {
    color: white;
    list-style: none;
    padding: .5rem 1.5rem;
}

footer .container-big2 a {
    text-decoration: none;
    color: white;
}

