* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 80px;
}

.container-small {
    max-width: 1040px;
    margin-inline: auto;
    padding-inline: 20px;
    

}

.container-big {
    max-width: 1360;
    margin-inline: auto;
    padding: 120px;
}

header {
    background-color: rgb(180, 208, 231);
}

/* BUTTON */

.btn {
    display: inline-block;
    padding: .5em .7em;
    white-space: nowrap;
}

.btn-primary {
    background-color: rgb(0, 97, 255);
    color: white;
    padding: .5em .7em;
    }

/* NAV */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding-inline-end: 1rem;
    background-color: white;
    padding-inline: 1rem;
}

nav ul {
    list-style: none;
    text-decoration: none;
}

nav .navbar {
    display: flex;
    height: 100%;
}

nav .navbar > li {
    display: flex;
}

nav .spaced {
    flex-grow: 1;
}

nav .navbar a {
    display: flex;
    align-items: center;
    padding-inline: 1em;
    text-decoration: none;
    color: grey;
}

nav .logo img {
    height: 35%;
}

nav.button {
    align-items:  center;
}

/* HEADER */

header h1 {
    font-size: 6rem;
}

header .contents {
    display: flex;
    padding-top: 44px;
}

header .jumbo img {
    display: flex;
    min-width: 0%;
}

header .jumbo .text {
    flex: 0 0 30%;
}

header .jumbo img {
    flex: 0 0 70%;
}

.text .btn-primary {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.text i {
    padding-top: 2rem;
}

/* FOOTER */

footer {
    max-width: auto;
	margin-inline: auto;
    height: 325px;
    background-color: black
}